.bodyBox{
    font-family: 'Times New Roman', Times;
    width: 80%;
    margin: auto;
}
h1{text-align: center;}
h2{text-align: center;}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.button{
    width: 12%;
    height: 3em;
    margin: 0.25em
}
th{
    border: solid 2px black;
    font-size: 1.2em;
    padding: 0.3em;
}
tbody td, tfoot td{
    border-left: solid 2px black;
    border-right: solid 2px black;
    padding: 0.2em;
}
#radioSlitText{visibility: hidden;}
#radioOverallText{visibility: hidden;}
.input{
    font-family: 'Times New Roman', Times;
    height: 1.2em;
    visibility: hidden;
}
.input.slitText{width: 95%;}
.input.overallText{width: 99%;}
textarea{
    font-family: 'Times New Roman', Times;
    /* font-size: 16px; */
    margin-top: 3em;
    width: 96%;
    padding: 5px;
    border-radius: 4px;
    resize: none;
    height: 10em;
}
